h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  padding-top: 1rem
}

p:last-of-type {
  padding-bottom: 1rem;
}

p:last-child:first-of-type {
  padding-bottom: 0;
  margin: 0
}

p,h1,h2,h3,h4 { -webkit-hyphens: auto;-moz-hyphens: auto;-ms-hyphens: auto;hyphens: auto; letter-spacing: 0.5px;}
main p, main table { line-height: 1.5; margin: 0 0 .5em;}
