.logo img {
	max-width: 100%
 }
 
 
 $menu-item-padding-x: 1em;
 $menu-item-padding-y: .5em;
 .menu {
	 padding: 0;
	ul, ul& {
	  list-style: none;
	  margin-bottom: 0;
	}
	& > ul, ul&:not(.container) {
	  margin: 0;
	  padding: 0;
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}
	ul, ul& {
 
	  & > li {
		 border-right: 1px solid rgba(255,255,255, 0.3);
		 padding: $menu-item-padding-y $menu-item-padding-x;
 
		 &.current_page_item, &.current_page_parent, &.current-menu-item,
		 &:hover {
			 background: $primary-hover;
			 a { color: inherit }
		 }
	  }
	}
 
 }
 
 
 /*
	Slideout Stuff
 */
 
 // Wrapper needs Backgroud-Colour to overlay menu while animating
 #wrapper {
	 position: relative;
	 z-index: 1;
	 background-color: $grey-bg;
	 overflow: hidden;
	 transition: opacity .5s;
 }
 
 // Standard-Look for Overlay
 #responsivemenu {
	 padding: 3rem 2rem;
	 text-align: center;
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 width: 260px;
	 min-height: 100vh;
	 overflow-y: scroll;
	 -webkit-overflow-scrolling: touch;
	 z-index: 0;
	 display: none;
	 ul {
		 list-style: none;
		 padding-left: 0;
		 li {
			 margin-top: 2px;
			 background-color: #fff;
			 color: $grey-font;
 
			 a {
				 display:block;
				 padding: .5em
			 }
 
			 &.current-menu-item,
			 &:hover {
				 background: $grey-bg;
				 a { color: inherit }
			 }
 
			 .sub-menu { 
				 font-size: 80%;
				 li {
					 margin-top: 0;
				 }
			 }
		 }
	 }
 }
 
 .slideout-open,
 .slideout-open body,
 .slideout-open .slideout-panel {
  overflow:hidden
 }
 
 // Content Opacity while open
 .slideout-open #wrapper > * { opacity:0.5}
 .slideout-open .slideout-menu {
  display:block !important
 }
 
 
 //Dropdown Nav
 
 .dropdown {
 
	 .menu-item {
		 & > .sub-menu {
			 visibility: hidden;
			 opacity: 0;
			 transition: opacity .3s;
			 position: absolute;
			 background: $primary-light;
			 z-index: 999;
			 padding: 0;
			 transform: translate3d(-$menu-item-padding-x, $menu-item-padding-y ,0);
			 max-width: 250px;
			 font-size: 90%;
 
			 li {
				 padding-left: 3em;
 
				 &:before {
					 margin-left: -1.5em;
					 content: "d";
					 @extend %icon-font-stuff;
				 }
			 }
		 }
 
		 &:hover > .sub-menu {
			 visibility: visible;
			 opacity: 1;
		 }
 
	 }
 }
 