.h-1 {
	height: 2rem;
}

.h-2 {
	height: 3rem;
}

.h-3 {
	height: 4rem;
}

.h-4 {
	height: 5rem;
}

.h-5 {
	height: 6rem;
}

.lh-2 {
  line-height: 2
}


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .maxh#{$infix}-10  { max-height: 10rem !important; }
    .maxh#{$infix}-20  { max-height: 20rem !important; }
    .maxh#{$infix}-30  { max-height: 30rem !important; }
    .maxh#{$infix}-40  { max-height: 40rem !important; }
		.maxh#{$infix}-50  { max-height: 50rem !important; }

		.maxh#{$infix}-10vw  { max-height: 10vw !important; }
		.maxh#{$infix}-20vw  { max-height: 20vw !important; }
		.maxh#{$infix}-30vw  { max-height: 30vw !important; }
		.maxh#{$infix}-40vw  { max-height: 40vw !important; }
		.maxh#{$infix}-50vw  { max-height: 50vw !important; }
		.maxh#{$infix}-60vw  { max-height: 60vw !important; }
		.maxh#{$infix}-70vw  { max-height: 70vw !important; }
		.maxh#{$infix}-80vw  { max-height: 80vw !important; }
		.maxh#{$infix}-90vw  { max-height: 90vw !important; }
		.maxh#{$infix}-100vw  { max-height: 100vw !important; }

		.minh#{$infix}-10  { min-height: 10rem !important; }
		.minh#{$infix}-20  { min-height: 20rem !important; }
		.minh#{$infix}-30  { min-height: 30rem !important; }
		.minh#{$infix}-40  { min-height: 40rem !important; }
		.minh#{$infix}-50  { min-height: 50rem !important; }

		.h#{$infix}-10  { height: 10rem !important; }
		.h#{$infix}-15  { height: 15rem !important; }
		.h#{$infix}-20  { height: 20rem !important; }
		.h#{$infix}-30  { height: 30rem !important; }
		.h#{$infix}-40  { height: 40rem !important; }
		.h#{$infix}-50  { height: 50rem !important; }

		.mt#{$infix}--2 { margin-top: -2rem !important; }
		.mt#{$infix}--3 { margin-top: -3rem !important; }
		.mt#{$infix}--4 { margin-top: -4rem !important; }
		.mt#{$infix}--8 { margin-top: -8rem !important; }
		.mt#{$infix}--10 { margin-top: -10rem !important; }
		.mt#{$infix}--11 { margin-top: -11rem !important; }
  }
}
