@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .columns#{$infix}-none        { column-count: inital !important; }
    .columns#{$infix}-2           { column-count: 2 !important; }
    .columns#{$infix}-3           { column-count: 3 !important; }
    .columns#{$infix}-4           { column-count: 4 !important; }

    [class*="columns#{$infix}-"] { padding-bottom: 1rem; }

  }
}
