.layout[data-redaktionell="false"] .acf-fc-layout-controlls,
.layout[data-redaktionell="false"] .acf-fields,
.layout[data-redaktionell="false"] .acf-icon,
.layout[data-redaktionell="false"] .acf-icon-copy,
.layout[data-redaktionell="false"] .acf-icon-clone
{ display: none !important}

.layout[data-redaktionell="false"]>.acf-fc-layout-handle {
  border-bottom-width: 0 !important;
  color: #fff !important;
  cursor: auto !important;
}

[data-name="redaktionell"], [data-name="code"], [data-name="close"], [data-name="classes"], [data-name="lazyload"], [data-name="verlinken"], [data-name="imagesize"] { display: none !important}

.acf-fc-layout-handle { cursor: pointer }
