.acf-fc-layout-handle {
	font-size: 0.9em;
	color: #aaa
}

.acf-fc-layout-handle .mg_acf_title {
	font-style: normal;
	font-size: 1.1em;
	padding-right: 1em
}

.mg_acf_hierarchie {
	width: 25%; float: left;
}

.acf-fc-layout-order {
	display:none !important;
}
.acf-fc-layout-handle {
	text-align:right;
	padding-right:50px !important;
	font-size:0.7em;
}
.acf-flexible-content .layout {
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.mg_acf_span_title {
	min-width:200px;
	display: inline-block;
	min-height:25px;
}
.mg_acf_icon {
	cursor:pointer;
}


.mg_acf_top_title_field { width: 50%;position: absolute;margin: 0.3em; z-index: 3; background: transparent}
.mg_acf_top_title_field:hover input { color: #727d88 }
.mg_acf_top_title_field:hover input:focus { color: #32373c }
.mg_acf_top_title_field input { background: transparent}
.mg_acf_top_title_field input:not(:focus) {border: 0 none;box-shadow: none;}

.acf-flexible-content .layout[data-layout="loop"] { background: rgba(255, 255, 255, 0.5) }
.acf-flexible-content .layout[data-layout="galerie"] .acf-fc-layout-handle { background: rgba(152, 204, 22, 0.25); }
.acf-flexible-content .layout .acf-field .acf-label label {font-size: 0.7em; margin-bottom: 0; line-height: 0;}

.layout[data-hierarchie="0"] { margin-top: 10px !important}
.layout[data-hierarchie="1"] { margin-left: 20px !important}
.layout[data-hierarchie="2"] { margin-left: 40px !important}
.layout[data-hierarchie="3"] { margin-left: 60px !important}
.layout[data-hierarchie="4"] { margin-left: 80px !important}
.layout[data-hierarchie="5"] { margin-left: 100px !important}
.layout[data-aktiv="false"] { opacity: 0.5 }