*.DS_Store

# Application
web/app/plugins/*/
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*/
web/app/themes/*/css/*
!web/app/themes/*/css/.gitkeep
*_backup_*.zip

# WordPress
web/wp

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# WP Super Cache
web/app/cache/*
