.iframe-privacy--wrapper {
  min-height: 200px;
  background: rgba(0,0,0,.03);
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 2em auto;

  iframe {
    height: 30vw;
    max-height: 400px;
    width: 100%;
    min-height: 325px;
  }

  .iframe-privacy--message {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    max-width: 400px;
    width: 80%;
    margin: auto;
    padding: 20px 30px;
    position: absolute;
    left: 50%;
    margin: 2rem;
    transform: translate(calc(-50% - 2rem));
    z-index: 1000;
    text-align: center;
    .iframe-privacy--source { color: $gray-600;}
    .button { color: #fff;
      &:hover { color: #fff }
    }

    .play-button {
      padding-bottom: 1em;
      display: block;
      &:before {
        position: relative;
        font-size: 5em;
        cursor: pointer;
        color: $primary;
      }
      &:hover:before {
        color: $secondary;
      }
    }
  }
}
