.anchor {
	position: absolute;
	transform:translateY(-10vh);
}

.bg-full {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#wpadminbar {
	top: auto;
	bottom: 0
}

.bg-transparent {
	background: transparent !important
}

// hr {
// 	border-top-width: 3px;
// }
