.accordion {
	margin-bottom: 1em;
	.title {
		background-color: $grey-gradient-start;
		border-bottom: 1px solid #fff;
		cursor: pointer;
		padding: .5rem 1rem .2rem;
		margin-top: 1.5rem;
		
		h4 {
			color: #393939;
			&:after {
				@include icon("\62");
				bottom: -0.1em;
				padding-left: 0.5em;
			}
		}
	}
	.active .title h4:after {
		content: "\61";
		}
	.inner {
		@extend %grey-gradient;
		padding: 1rem;
	}
}

.daten {
	width: 100%;
	color: #414242;
	td {
		padding: .4rem;
		border-bottom: 1px solid #DBDBDB;
	}
	.ziffer {
		font-weight: 500;
		text-align: right
	}
	.wert {
		text-align: right
	}
	tr:last-child td {
		border-bottom: none;
	}
}