.red {
  color: $red;
}

.preis {
  font-family: ff-duper-web-pro, sans-serif;
  font-size: 4rem;
}

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  background: 0 0;
  color: inherit;
  border: 0 none;
  cursor: pointer;
}

#navtoggle { font-size: 2rem; }

.no-wrap { display: inline-block; }

h1 {
	font-weight: 400;
	font-size: 1.8em;
	text-transform: uppercase;

  span:not(:last-of-type):after {
    display: block;
    content: "";
  }
}

@include media-breakpoint-up(s) {
  h1 {
  	font-size: 2.5em;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
  	font-size: 4em;
  }
}

h2 {
	font-family: ff-duper-web-pro, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
	small {
		font-size: 1rem;
		font-weight: 300;
		display: block;
	}
}

h3, .h3 {
  color: $red;
	text-transform: uppercase;
	letter-spacing: .05em;
	display: inline-flex;
	align-items: center;

	&:before {
		content:"";
		height: 1.5px;
		width: 70px;
		background: $red;
		margin-right: .5em
	}
}

a {
  font-weight: 400; text-decoration: none !important; color: #000;
  &:hover { color: $red; }
  }

.bg-red {
  h2, .h2, h3, .h3, h4, .h4 {
    color: #fff;
    &:before {
      background: #fff;
    }
  }
  a {
    color: #fff;
    &:hover { color: $semired; }
  }
}

.underline {
	@extend %underline;
}

/*
	thin		font-weight: 260;
	extra-light font-weight: 280;
	light		font-weight: 300;
	regular		font-weight: 400;
	medium		font-weight: 500;
	SemiBold	font-weight: 600;
	bold		font-weight: 700;
	extrabold	font-weight: 800;
	black		font-weight: 900;
*/
