#footer {
  padding-top: 1.5rem;
	padding-bottom: 2rem;
	.logo img {
		max-width: 300px;
		box-shadow: none;
		padding: 3rem 0;
	}
	a { font-weight: 400}
	ul, ul li { list-style: none; margin: 0; padding: 0; display: inline-block }
	ul li { padding: 5px }
}