// Set Variables in Bootstrap File

$template-path: '/app/themes/template';

%underline {
	position: relative;
	&:before {
		content: "";
		width: 100%;
		border-bottom: 2px solid $font-blue;
		position: absolute;
		bottom: -.4rem;
		transition: border-color 1s;
	}
	&:hover {
		color: $font-blue;
	}
	&:hover:before {
		border-color: #393939
	}
}
