$grey-gradient-start:	#F9F9F9;
$grey-gradient-end:		#EFEFEF;
$font-blue:				#0075a7;

$green:  #a0c860;
$yellow: #FFEC00;
$grey:  #A4A4A4;


$template-path: '/app/themes/template';


%grey-gradient{
	background-image: linear-gradient(-180deg, $grey-gradient-start 0%, $grey-gradient-end 100%);
}

%underline {
	position: relative;
	&:before {
		content: "";
		width: 100%;
		border-bottom: 2px solid $font-blue;
		position: absolute;
		bottom: -.4rem;
		transition: border-color 1s;
	}
	&:hover {
		color: $font-blue;
	}
	&:hover:before {
		border-color: #393939
	}
}
