.grid { padding: 0}
.maschine { width: 50% }
.block {
	padding-bottom: 15px;
	padding-top: 15px;
	@extend %grey-gradient;
	background-clip: content-box;
	.inner {
		min-height: 14rem;
		padding: 30px 30px 40px;
		
		h3 {
			font-size: 1.5rem;
			margin-bottom: .5em
		}
	}
}

nav.block {
	ul {
		list-style: none;
		.current_page_item, .current_page_ancestor {
			a {
				font-weight: 800;
				color: $font-blue;
			}
		}
	}
}

.blue-block {
	background: #0075a7 linear-gradient(29deg, #1693B8 0%, #0075A7 100%);
	box-shadow: 0 25px 54px 0 rgba(5,30,40,0.40);
	padding: 20px 10px 10px 20px;
	color: #fff;
	* { color: #fff; font-weight: 300}
	b {
		font-weight: 700
	}
}