.breadcrumb-trail {
	flex-basis: 100%;
	max-width: 100%;
	font-size: 0.85rem;
	padding: 0 15px;

	.trail-items {
		padding: 0;
		
		a {
			font-weight: 400;
		}
	}
}

.breadcrumb-trail ul li:before {content: none;}
li.trail-item {display: inline-block;}
li.trail-item.trail-end:after {content: none;}
li.trail-item:after { 
	content: "d"; left: 0.1em; padding-right: .3em; 
	@extend %icon-font-stuff;
}
li.trail-begin {display: none}