#header {
  z-index: 2
}

#navbar.position-sticky {
	top: 1.5rem;
	height: 0;
	padding-top: 0;
	z-index: 100;
	position: relative;
}

.menu {
	a {
		padding: .5rem;
		text-transform: uppercase;
	}
}


// Slideout Icon for Closeing
.slideout-open #navtoggle:before {
 content:"G"
}
