@charset "UTF-8";

$fontname: 'standard';

@font-face {
  font-family: "#{$fontname}";
  src:url("../icons/#{$fontname}.eot");
  src:url("../icons/#{$fontname}.eot?#iefix") format("embedded-opentype"),
    url("../icons/#{$fontname}.woff") format("woff"),
    url("../icons/#{$fontname}.ttf") format("truetype"),
    url("../icons/#{$fontname}.svg#standard") format("svg");
  font-weight: normal;
  font-style: normal;

}

%icon-font-stuff {
  font-family: "#{$fontname}" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  bottom: -.17em;
}

@mixin icon($content) {
  content: $content;
  @extend %icon-font-stuff;
}

[data-icon]:before {
  @extend %icon-font-stuff;
  content: attr(data-icon);
}

[data-icon-right]:after {
  @extend %icon-font-stuff;
  content: attr(data-icon-right);
}

[data-icon-left]:before {
  @extend %icon-font-stuff;
  content: attr(data-icon-left);
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @extend %icon-font-stuff;
}


.icon-phone:before {
  content: "\61";
}
.icon-chevron-right:before {
  content: "\62";
}
.icon-chevron-left:before {
  content: "\63";
}
.icon-angle-right:before {
  content: "\64";
}
.icon-angle-left:before {
  content: "\65";
}
.icon-angle-up:before {
  content: "\66";
}
.icon-angle-down:before {
  content: "\67";
}
.icon-chevron-up:before {
  content: "\68";
}
.icon-chevron-down:before {
  content: "\69";
}
.icon-email-envelope:before {
  content: "\6a";
}
.icon-letter-mail:before {
  content: "\6b";
}
.icon-facebook-official:before {
  content: "\6c";
}
.icon-comment:before {
  content: "\6d";
}
.icon-bars:before {
  content: "\6e";
}
.icon-times:before {
  content: "\6f";
}
.icon-pin-map:before {
  content: "\70";
}
.icon-pfeil-r:before {
  content: "\71";
}
.icon-pfeil-l:before {
  content: "\72";
}
.icon-ptint:before {
  content: "\73";
}
.icon-file-text:before {
  content: "\74";
}
.icon-file-text-o:before {
  content: "\75";
}
.icon-link:before {
  content: "\76";
}
.icon-check:before {
  content: "\78";
  right: .2em;
  bottom: -.1em;
}
.icon-play-circle:before {
  content: "\79";
}
.icon-play-circle-o:before {
  content: "\7a";
}

[data-icon-right="x"]:after {
  left: .2em;
  bottom: -.1em;
}


[data-icon-left="I"]:before { left: -0.3em; bottom: -0.1em;}
[data-icon-left="Z"]:before { left: -0.2em;bottom: -0.15em;}
[data-icon-left="L"]:before { left: -0.3em;bottom: -0.15em;}

[data-icon-left="I"] ~ [data-icon-left="Z"] {padding-left: .5em;}

.icon-left-big {
  position: relative;
  &:before {
    left: 0; padding-right: .2em;
    position: absolute;
    color: $primary;
    font-size: 3em;
    transform: translate3d(-100%, -50%, 0);
    top: 50%;
    line-height: 0.6;
  }
}

.icon-big {font-size: 4em;}
