/*
  Note: Bootstrap mixins

  @include media-breakpoint-down(sm)
  @include media-breakpoint-up(sm)
  @include media-breakpoint-only(sm)
*/

img {
	max-width: 100%;
	height: auto
}

[data-rellax-speed] {
	z-index: 1;
}

.container.row,
.container-fluid.row {
	margin: auto;
	padding: 0
}


.bg-semired {
	background: $semired;
	// main > & { display: flex; }
	&[class*="box"] { background-clip: content-box; }
}

.bg-pullup {
	margin-top: -200px;
	padding-top: 200px;
}
