.table-sm {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  width: auto;
  margin-top: 1rem;
  
  th {
    padding-left: 1rem;
    padding-right: 1rem;
    
    &:first-child {
      text-align: right;
    }
  }
}

.text-center .table {
  margin-left: auto;
  margin-right: auto;
  display: table;
}